@page "/productcrud/{ProductID:int?}"
@using WestWindSystem.Entities
@using WestWindSystem.BLL

@rendermode InteractiveServer

<PageTitle>Product CRUD</PageTitle>

<h1>Product CRUD</h1>

@if (FeedbackMessage != String.Empty)
{
    <div class="alert alert-info">
        @FeedbackMessage
    </div>
}

<!--EditForms require either a Model(not covered in this course) or an EditContext to work.-->
<EditForm EditContext="_EditContext">
    <!--Enables validation in our Entities-->
    <DataAnnotationsValidator/>
    <!--Catches and displays any validation errors in our form-->
    <ValidationSummary/>

    <fieldset>
        <label> Product ID 
            <!--Super critical that @bind-Value have the upper-case V-->
            <!--As this field is our Primary Key, we make it Read-only so it can't be changed-->
            <InputNumber @bind-Value="CurrentProduct.ProductID" readonly/>
        </label>

        <label> Name
            <InputText @bind-Value="CurrentProduct.ProductName"/>
            <ValidationMessage For="@(() => CurrentProduct.ProductName)" />
        </label>
        <!--This validates and shows errors inline. This component must come immediately after the input.-->
        
        <label> Supplier ID
            <InputSelect @bind-Value="CurrentProduct.SupplierID">
                <option value="0">-Select Supplier-</option>
                @foreach(Supplier supplier in Suppliers)
                {
                    <option value="@supplier.SupplierID" selected="@(supplier.SupplierID == CurrentProduct.SupplierID)">
                        @supplier.CompanyName
                    </option>
                }
            </InputSelect>
        </label>

        <label> Category
            <InputSelect @bind-Value="CurrentProduct.CategoryID">
                <option value="0">-Select Category-</option>
                @foreach (Category category in Categories)
                {
                    <option value="@category.CategoryID" selected="@(category.CategoryID == CurrentProduct.CategoryID)">
                        @category.CategoryName
                    </option>
                }
            </InputSelect>
        </label>

        <label> Qty / Unit
            <InputText @bind-Value="CurrentProduct.QuantityPerUnit"/>
        </label>

        <label> Unit Price
            <InputNumber @bind-Value="CurrentProduct.UnitPrice"/>
        </label>
        <ValidationMessage For="@(() => CurrentProduct.UnitPrice)" />

        <label> Min Order Qty
            <InputNumber @bind-Value="CurrentProduct.MinimumOrderQuantity"/>
        </label>

        <label> Units on Order
            <InputNumber @bind-Value="CurrentProduct.UnitsOnOrder"/>
        </label>

    </fieldset>

    <fieldset>

        <button type="button" @onclick="OnCreate">Create</button>

        <button type="button" @onclick="OnUpdate">Update</button>

        <button type="button" @onclick="OnDiscontinue">Discontinue</button>

        <button type="button" @onclick="Clear">Clear</button>

        <button type="button" @onclick="GoToSearch">Search</button>

    </fieldset>

</EditForm>
