@page "/report"

<PageTitle>Employment Report</PageTitle>

@rendermode InteractiveServer

@using OOPsReview;

<h3>EmploymentReport</h3>
<p>Using a tabular report presentation AKA Tables</p>

@if (FeedbackMsg.Length > 0)
{
	<div class="alert alert-info">
		<p>@FeedbackMsg</p>
	</div>
}

@if (ErrorMsgs.Count > 0)
{
	<div class="alert alert-danger">
		<p>Please fix these errors:</p>
		<ul>
			@foreach (var error in ErrorMsgs)
			{
				<li>@error</li>
			}
		</ul>
	</div>
}

<div class="row">
	<!--overflow-scroll will add a scroll bar to my table if there is more content than fits in the proved space-->
	<div class="offset-4 col-md-4 overflow-scroll">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Position Title</th>
					<th>Start Date</th>
					<th>Level</th>
					<th>Years</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var employment in Employments)
				{
					<tr>
						<td>@employment.Title</td>
						<td>@employment.StartDate.ToShortDateString()</td>
						<td>@employment.Level</td>
						<td>@employment.Years</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>